.skills{
    margin-top: 110px;
    text-align: center;

    &__title{
        font-weight: 700;
        font-size: 34px;
        margin-bottom: 60px;
    }
    &__info{
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 75px;
    }
    &__cards{
        display: flex;
        text-align: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__card{
        width: 25%;
        margin-bottom: 65px;
    }
    &__cards-img{
        max-width: 89px;
        max-height: 89px;
        margin-bottom: 25px;
    }
    &__cards-title{
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 14px;
        color:#828282;
    }
    
}

@media (max-width: 749px){
    .skills{
        &__card{
            width: 33%;
            margin-bottom: 65px;
        }
    }
}


@media (max-width: 600px){
    .skills{
        &__card{
            width: 50%;
            margin-bottom: 65px;
        }
    }
}

@media (max-width: 350px){
    .skills{
        &__card{
            width: 100%;
            margin-bottom: 65px;
        }
    }
}