
.burgerMenu__btn-systeam{
 display: none;   
}
@media (max-width: 749px){
  
    .burgerMenu__btn{
        background: none;
        border:none;
        &-systeam{
            padding: 10px;
            display: flex;
            justify-content:flex-end;
            align-items: center;
        }
        
    }
}